#containerTransmission {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.54);
  .MuiGrid-root {
    .MuiGrid-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 60%;
    }
  }
}
